{
	"default": {
		"port": 8082,
		"mongourl": "mongodb://mongodb:27017/events",
		"core": {
			"url": "http://oms-core-elixir",
			"port": 4000
		},
		"media_dir": "/usr/app/media",
		"media_url": "/frontend/media",
		"bugsnagKey": "6f6a7c00507fceca0818c48405dbd2a6"
	},
	"development": {

	},
	"test": {
		"port": 8084,
		"mongourl": "mongodb://localhost:27017/test-events",

		"registry": {
			"url": "http://localhost",
			"port": 7000
		},
		"enable_user_caching": false,
		"media_dir": "./tmp_upload"
	}
}
