#Environment file for docker-compose

PATH_OMS_GLOBAL=oms-global/docker/
PATH_OMS_CORE=oms-core/docker/
PATH_OMS_REGISTRY=oms-serviceregistry/docker/
PATH_OMS_EVENTS=oms-events/docker/
PATH_OMS_EVENTS_FRONTEND=oms-events-frontend/docker/
PATH_ALASTAIR=alastair/docker/

