[submodule "oms-events"]
    path = oms-events
    url = https://github.com/AEGEE/oms-events.git
[submodule "oms-global/docker/portal/files"]
    path = oms-global/docker/portal/files
    url = https://github.com/AEGEE/AEGEEPortal
[submodule "oms-core-elixir"]
    path = oms-core-elixir
    url = https://github.com/AEGEE/oms-core-elixir.git
[submodule "oms-frontend"]
    path = oms-frontend
    url = https://github.com/aegee/oms-frontend
[submodule "oms-statutory"]
    path = oms-statutory
    url = https://github.com/AEGEE/oms-statutory
[submodule "oms-mailer"]
	path = oms-mailer
	url = https://github.com/AEGEE/oms-mailer.git
