version: "3.2"

#This docker-compose file contains utility containers not vital for the working of the web application, such as an orchestrator manager (portainer) and a continuous integration app (drone)

#TODO: maybe add also the swagger-editor and swaggerapi visualiser
#TODO: logging containers, consul...

services:
  #to get the password (hashed): (also remember to escape $ with anotehr $)
  # docker run --rm httpd:2.4-alpine htpasswd -nbB admin 5ecr3t | cut -d ":" -f 2
  portainer:
    image: portainer/portainer:1.15.5
      #image: portainer/portainer:1.19.2
    command: -H unix:///var/run/docker.sock --logo $AEGEE_LOGO_B64  --admin-password $PW_PORTAINER
    restart: on-failure
    expose:
      - 9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
    labels:
      - traefik.enable=true
      - traefik.backend=portainer
      - traefik.port=9000
      - traefik.frontend.rule=HostRegexp:{domain:portainer.[a-z0-9.]+}
      - traefik.frontend.priority=20

  # drone-server:
  #   image: drone/drone:0.7
  #   ports:
  #     - 8000
  #   volumes:
  #     - /var/lib/drone:/var/lib/drone/
  #   restart: always
  #   environment:
  #     - DRONE_OPEN=true
  #     - DRONE_HOST=appserver/drone
  #     - DRONE_GITHUB=true
  #     - DRONE_GITHUB_CLIENT=2205108af6d3aa0b1e3c
  #     - DRONE_GITHUB_SECRET=0e84e258dd54d8b8d31fb889c01d5a7047f8db21
  #     - DRONE_SECRET=HighWayMANN
  #   labels:
  #     - traefik.enable=true
  #     - traefik.backend=drone-server
  #     - traefik.port=8000
  #     - traefik.frontend.rule=HostRegexp:{domain:drone.[a-z0-9.]+}
  #     - traefik.frontend.priority=10
  # 
  # drone-agent:
  #   image: drone/drone:0.7
  #   command: agent
  #   restart: always
  #   depends_on:
  #     - drone-server
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   environment:
  #     - DRONE_SERVER=ws://drone-server:8000/ws/broker
  #     - DRONE_SECRET=HighWayMANN
  #   labels:
  #     - traefik.enable=false

secrets:
    jwt_key:
        file: secrets/jwt_key
    sendgrid_key:
        file: secrets/sendgrid_key
    https_cert:
        file: secrets/cert.pem
    https_key:
        file: secrets/key.pem
    mail_user:
        file: secrets/sendgrid_key
    mail_password:
        file: secrets/sendgrid_key
