/* ------ VI 2.0 colours */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

$blue-light: #4ca0ff;
$blue-standard: #1468c5;
$blue-dark: #163e7a;
$red-light: #ff5543;
$red-standard: #c51c13;
$red-dark: #7a1e16;
$green-light: #c2de5d;
$green-standard: #a0c514;
$green-dark: #647a16;
$purple-light: #c44bc2;
$purple-standard: #931991;
$purple-dark: #70086e;
$yellow-light: #ffdb4c;
$yellow-standard: #fbba00;
$yellow-dark: #cf9800;
$grey-light: #c5c6c6;
$grey-standard: #898989;
$grey-dark: #434242;
$black: #000000;
$white: #FFFFFF;

$blue: 				$blue-standard;
$red: 				$red-standard;
$yellow: 			$yellow-standard;
$purple: 			$purple-standard;
$green: 			$green-standard;
$cyan:				$blue-light;

$family-sans-serif: 'Open Sans', sans-serif;

$primary: $blue-standard;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-dark;
$text: $grey-dark;
$background: $grey-light;
$link: $blue;
$family-primary: $family-sans-serif;

$fa-font-path: "../fonts" !default;

// @import '~@fortawesome/fontawesome-free/css/v4-shims.css';


/* * {
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
} */

/* ------ end of VI colors ------------- */

@import '~bulma';
@import '~buefy/dist/buefy.min.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~animate.css/animate.min.css';

@import '~nprogress/nprogress.css';

.has-text-pre-wrap {
	white-space: pre-wrap;
}

/* for links breaking in markdown-formatted html */
.markdown a {
	word-break: break-all;
}

.has-word-break {
	word-break: break-all;
}

/* for MapBox popups */
.mapbox-popup-custom {
	max-width: 500px;
	max-height: 280px;
	overflow-y: auto;
	font-size: medium;
	
	@include mobile {
		max-width: 250px;
	}
}

.bold {
	font-weight: bold;
}

@keyframes rainbow-text {
  0% {
    color: #e87d7d;
  }
  2% {
    color: #e88a7d;
  }
  4% {
    color: #e8977d;
  }
  6% {
    color: #e8a47d;
  }
  8% {
    color: #e8b07d;
  }
  10% {
    color: #e8bd7d;
  }
  12% {
    color: #e8ca7d;
  }
  14% {
    color: #e8d77d;
  }
  16% {
    color: #e8e47d;
  }
  18% {
    color: #dfe87d;
  }
  20% {
    color: #d3e87d;
  }
  22% {
    color: #c6e87d;
  }
  24% {
    color: #b9e87d;
  }
  26% {
    color: #ace87d;
  }
  28% {
    color: #9fe87d;
  }
  30% {
    color: #92e87d;
  }
  32% {
    color: #86e87d;
  }
  34% {
    color: #7de881;
  }
  36% {
    color: #7de88e;
  }
  38% {
    color: #7de89b;
  }
  40% {
    color: #7de8a8;
  }
  42% {
    color: #7de8b5;
  }
  44% {
    color: #7de8c1;
  }
  46% {
    color: #7de8ce;
  }
  48% {
    color: #7de8db;
  }
  50% {
    color: #7de8e8;
  }
  52% {
    color: #7ddbe8;
  }
  54% {
    color: #7dcee8;
  }
  56% {
    color: #7dc1e8;
  }
  58% {
    color: #7db5e8;
  }
  60% {
    color: #7da8e8;
  }
  62% {
    color: #7d9be8;
  }
  64% {
    color: #7d8ee8;
  }
  66% {
    color: #7d81e8;
  }
  68% {
    color: #867de8;
  }
  70% {
    color: #927de8;
  }
  72% {
    color: #9f7de8;
  }
  74% {
    color: #ac7de8;
  }
  76% {
    color: #b97de8;
  }
  78% {
    color: #c67de8;
  }
  80% {
    color: #d37de8;
  }
  82% {
    color: #df7de8;
  }
  84% {
    color: #e87de4;
  }
  86% {
    color: #e87dd7;
  }
  88% {
    color: #e87dca;
  }
  90% {
    color: #e87dbd;
  }
  92% {
    color: #e87db0;
  }
  94% {
    color: #e87da4;
  }
  96% {
    color: #e87d97;
  }
  98% {
    color: #e87d8a;
  }
  100% {
    color: #e87d7d;
  }
}

.rainbow-text {
  animation: rainbow-text 2s infinite;
}

/* for tooltips */
.tooltip {
	display: block !important;
	z-index: 10000;

	.tooltip-inner {
	  background: $blue-standard;
	  color: $white;
	  border-radius: 10px;
	  padding: 5px 10px 4px;
	}

	.tooltip-arrow {
	  width: 0;
	  height: 0;
	  border-style: solid;
	  position: absolute;
	  margin: 5px;
	  border-color: $blue-standard;
	  z-index: 1;
	}

	&[x-placement^="top"] {
	  margin-bottom: 5px;

	  .tooltip-arrow {
		border-width: 5px 5px 0 5px;
		border-left-color: transparent !important;
		border-right-color: transparent !important;
		border-bottom-color: transparent !important;
		bottom: -5px;
		left: calc(50% - 5px);
		margin-top: 0;
		margin-bottom: 0;
	  }
	}

	&[x-placement^="bottom"] {
	  margin-top: 5px;

	  .tooltip-arrow {
		border-width: 0 5px 5px 5px;
		border-left-color: transparent !important;
		border-right-color: transparent !important;
		border-top-color: transparent !important;
		top: -5px;
		left: calc(50% - 5px);
		margin-top: 0;
		margin-bottom: 0;
	  }
	}

	&[x-placement^="right"] {
	  margin-left: 5px;

	  .tooltip-arrow {
		border-width: 5px 5px 5px 0;
		border-left-color: transparent !important;
		border-top-color: transparent !important;
		border-bottom-color: transparent !important;
		left: -5px;
		top: calc(50% - 5px);
		margin-left: 0;
		margin-right: 0;
	  }
	}

	&[x-placement^="left"] {
	  margin-right: 5px;

	  .tooltip-arrow {
		border-width: 5px 0 5px 5px;
		border-top-color: transparent !important;
		border-right-color: transparent !important;
		border-bottom-color: transparent !important;
		right: -5px;
		top: calc(50% - 5px);
		margin-left: 0;
		margin-right: 0;
	  }
	}

	&[aria-hidden='true'] {
	  visibility: hidden;
	  opacity: 0;
	  transition: opacity .15s, visibility .15s;
	}

	&[aria-hidden='false'] {
	  visibility: visible;
	  opacity: 1;
	  transition: opacity .15s;
	}
}

// Responsive fixes.
@include mobile {
  .app-main > .container {
    padding-left: 0;
    padding-right: 0;
  }
  
  .card  {
    margin-bottom: 2em;
  }
  
  .box  {
    border-radius: 0;
  }
}
