<ul>
  <li><strong>Body name: </strong>{{ application["body_name"] }}</li>
  <li><strong>Applied on: </strong>{{ application["created_at"] }}</li>
  <li><strong>Updated on: </strong>{{ application["updated_at"] }}</li>
  <li><strong>First name: </strong>{{ application["first_name"] }}</li>
  <li><strong>Last name: </strong>{{ application["last_name"] }}</li>
  <li><strong>Gender: </strong>{{ application["gender"] }}</li>
  <li><strong>Date of birth: </strong>{{ application["date_of_birth"] }}</li>
  <li><strong>Email: </strong>{{ application["email"] }}</li>
  <li><strong>Nationality: </strong>{{ application["nationality"] }}</li>
  <li><strong>Meals: </strong>{{ application["meals"] }}</li>
  <li><strong>Allergies: </strong>{{ application["allergies"] }}</li>
  <li><strong>Number of events visited: </strong>{{ application["number_of_events_visited"] }}</li>
  <li><strong>Visa required?: </strong>{{ application["visa_required"] }}</li>
  <li><strong>Visa passport number: </strong>{{ application["visa_passport_number"] }}</li>
  <li><strong>Visa passport issue date: </strong>{{ application["visa_passport_issue_date"] }}</li>
  <li><strong>Visa passport expiration date: </strong>{{ application["visa_passport_expiration_date"] }}</li>
  <li><strong>Visa passport issue authority: </strong>{{ application["visa_passport_issue_authority"] }}</li>
  <li><strong>Place of birth: </strong>{{ application["visa_place_of_birth"] }}</li>
  <li><strong>Street and house number: </strong>{{ application["visa_street_and_house"] }}</li>
  <li><strong>Postal code: </strong>{{ application["visa_postal_code"] }}</li>
  <li><strong>City: </strong>{{ application["visa_city"] }}</li>
  <li><strong>Country: </strong>{{ application["visa_country"] }}</li>
  <li><strong>Embassy: </strong>{{ application["visa_embassy"] }}</li>

  {% for question in event["questions"] %}
    <li><strong>{{ question["description"] }} </strong> {{ application["answers"][loop.index0] }}</li>
  {% endfor %}

</ul>
