
<!DOCTYPE html>
<html lang="en">

{% import "snippets/macros.jinja2" as macros %}
{{ macros.head("MyAEGEE: Make your event a safer space") }}

<body style="width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
  <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="margin:0; padding:0; width:100% !important; line-height: 100% !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;background-color: #F9FAFB;"
    width="100%">
    <tbody>
      <tr>
        <td width="10" valign="top">&nbsp;</td>
        <td valign="top" align="center">
          <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #FFF; border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;"
            id="contentTable">
            <tbody>
              <tr>
                <td width="600" valign="top" align="center" style="border-collapse:collapse;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: #F9FAFB;" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;">&nbsp;</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #E0E4E8;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding: 56px 56px 28px 56px;" valign="top">
                          <a style="color: #3498DB; text-decoration: none;" href="my.aegee.eu"
                            target="_blank"><img style="width: 56px; height: 56px; border: 0;" alt="AEGEE-Europe"
                              src="https://my.aegee.eu/images/logo.png">
                          </a></td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 20px; color: #333;"><strong>Dear Local Organizers,</strong></div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">Congrats for launching "{{ event["name"] }}"!</div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">We are reaching out to inform you about some important opportunities on how to make your event a safer space for everyone!</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">Let's start from the beginning:</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;"><u><b>What is SPC?</b></u><br>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">The Safe Person Committee is a supporting Committee of AEGEE-Europe and was established by the Spring Agora 2020. It is attached to the Comité Directeur (CD) and the Mediation Commission (MedCom). The SPC aims to let AEGEE be a safe space for all its members and tackle sexual harassment in any form. It works on creating a safe space for AEGEEans and combat sexual harassment through the use of education, awareness-raising measures, and maintaining a Pool of Safe Persons to send to events. Our main task is to sustain the Safe Persons, train new Safe Persons, educate others by providing materials or workshops and handle complaints of sexual harassment within AEGEE. With this it aims to prevent, detect and react to sexual harassment in the association.</div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;"><a href="https://myaegee.atlassian.net/wiki/spaces/KMS/pages/2112487455/Safe+Person+Committee">More info</a> about our Committee can be found in the Knowledge Management System.</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;"><u><b>What is a Safe Person?</b></u><br>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">A Safe Person is a trained youth worker able to help implement preventive measures in events and can detect and react to cases of sexual harassment. If needed, they are there to provide support for victims and follow up on situations where sexual harassment happened. They form a point of contact for anyone that has gone through an uncomfortable moment and apply a form of first aid responding by providing a safe space and a listening ear for the victim.</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;"><u><b>Why is this important?</b></u><br>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">European Events are an amazing opportunity to bring together exciting, new AEGEEans all over Europe, all with different backgrounds. However, these backgrounds/inexperience in combination with the involvement of alcohol can lead to cases where boundaries are crossed and consent is disrespected. And here is what SPC is for: to help prevent such cases by educating the network on consent, how to react to sexual harassment and implement other measurements. In short: We want to create a safer space within AEGEE to make every member feel respected and safe.</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;"><u><b>What do we offer?</b></u><br>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">There are plenty of ways on how to create a safer event.</div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">Therefore we created a <a href="https://myaegee.atlassian.net/wiki/spaces/KMS/pages/2451505153/Organising+Safe+Events">checklist</a> which you as organisers can go through. It is accessible via the Knowledge Management System. Also, the SPC offers workshops for your participants during your event and briefings for local organisers and helpers. You can also have a Safe Person joining your event. You can request any of the mentioned via MyAEGEE under <a href="https://my.aegee.eu/resources">resources</a> by filling the <a href="https://docs.google.com/forms/d/e/1FAIpQLScMkFVgs3Q7S_4hryCgibuYz3EeI9o3pk1vpJSwmjN7p4T71g/viewform">form</a>.</div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">We also prepared educational posters which some of you might have seen during statutory events already to hang up in common spaces during your event. You can download them on our <a href="https://myaegee.atlassian.net/wiki/spaces/KMS/pages/2112487455/Safe+Person+Committee">KMS page</a>.</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">Please do not hesitate to reach out to us so we can support you creating safer spaces for your participants!</div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">We hope that you consider making your event safer with our help!</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">All the best,</div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">SPC</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 0 56px 28px 56px;" valign="top">
                          <div>
                            <a href="https://my.aegee.eu/events/{{ event["url"] }}" style="background-color:#1468C5;border-radius:50px;color:#ffffff;display:inline-block;font-family: 'lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;font-weight: bold;line-height:40px;text-align:center;text-decoration:none;width:270px;-webkit-text-size-adjust:none;"
                              target="_blank">See event</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: #F9FAFB;" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding: 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; line-height: 24px; color: #A7ADB5;">This email was autogenerated by MyAEGEE mailer.</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
