
<!DOCTYPE html>
<html lang="en">

{% import "snippets/macros.jinja2" as macros %}
{{ macros.head("MyAEGEE: Welcome to AEGEE") }}

<body style="width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
  <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="margin:0; padding:0; width:100% !important; line-height: 100% !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;background-color: #F9FAFB;"
    width="100%">
    <tbody>
      <tr>
        <td width="10" valign="top">&nbsp;</td>
        <td valign="top" align="center">
          <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #FFF; border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;"
            id="contentTable">
            <tbody>
              <tr>
                <td width="600" valign="top" align="center" style="border-collapse:collapse;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: #F9FAFB;" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;">&nbsp;</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #E0E4E8;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding: 56px 56px 28px 56px;" valign="top">
                          <a style="color: #3498DB; text-decoration: none;" href="my.aegee.eu"
                            target="_blank"><img style="width: 56px; height: 56px; border: 0;" alt="AEGEE-Europe"
                              src="https://my.aegee.eu/images/logo.png">
                          </a></td>
                      </tr>
                      <tr>
                        <td style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 20px; color: #333;"><strong>Dear new board member,</strong></div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">
                            First of all, we would like to congratulate you on being elected as board member!
                            We hope you, together with the rest of your board, will have an amazing term full of adventures, joy and (learning) experiences!
                            As the Human Resources Committee we want to give you some basic information to help kickstart your board year.
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 18px; color: #333;"><strong>WHAT YOU NEED TO KNOW AS A NEW BOARD MEMBER</strong></div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">
                            First of all: did you receive Knowledge Transfer (KT) from the previous board?
                            Did you learn from them how to run your Local, what obligations you have towards AEGEE-Europe and what the tasks are of your board roles?
                            <br><br>
                            If the answer is NO, do not panic! Please, have a look at the
                            <a href="https://oms.aegee.org">KT Booklets</a>
                            and contact your NetCommie (your main contact person from AEGEE-Europe) as soon as possible, as they will be able to help you get further knowledge transfer.
                            Keep in mind that these booklets are general guidelines and that for specific details (bank account, social media passwords, local members etc.)
                            you need KT from the previous board.
                            <br><br>
                            <ul>
                              <li><a href="https://oms.aegee.org">Learn more about how to run a Local as a board</a> (to view the Knowledge Management System, click on login and log in via Google with your AEGEE GSuite account. See below how to request it);</li>
                              <li>Be aware, as an AEGEE Local, you have some obligations towards AEGEE-Europe called the <a href="https://my.aegee.eu/pages/antenna-criteria">Antenna Criteria</a>;</li>
                              <li>Keep in mind that after your term ends you have to transfer knowledge yourself. For that reason you can create your own knowledge transfer booklet for future generations, for which we have a <a href="https://oms.aegee.org">template here</a>.</li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 18px; color: #333;"><strong>GETTING AROUND IN AEGEE-EUROPE</strong></div>
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">
                            When starting your board year, things might be chaotic, but to help you get through it, we will provide you with the very basics on AEGEE-Europe and where to find more information.
                            <a href="https://oms.aegee.org">Find the structure of AEGEE-Europe here</a> (to view the Knowledge Management System, click on login and log in via Google with your AEGEE GSuite account).
                            <br><br>
                            For information and communication the following links will help you out:
                            (To get access to most of them, you need a GSuite account, which you can <a href="https://my.aegee.eu/pages/gsuite">request here</a>)
                            <ul>
                              <li><a href="https://oms.aegee.org">AEGEE Knowledge Management System</a> (the knowledge backbone of AEGEE)</li>
                              <li><a href="https://oms.aegee.org">Materials Database</a> (you can find all useful materials there, such as outlines of sessions, promotion materials and tips and tricks for your work as a board)</li>
                              <li><a href="https://my.aegee.eu/pages/mailing-lists">Mailing lists</a> (official communication channels of AEGEE-Europe which keep you updated)</li>
                              <li><a href="https://my.aegee.eu/events">Events Calendar</a> (all events happening in AEGEE for which your members and you can apply)</li>
                              <li><a href="https://www.facebook.com/groups/aegeeans">AEGEEans</a> (Facebook group with the latest news in AEGEE)</li>
                              <li><a href="https://t.me/AEGEE_Europe">Telegram channel</a> (updates from AEGEE-Europe)</li>
                              <li><a href="https://www.aegee.org/the-aegeean/">The AEGEEan</a> (official online magazine)</li>
                            </ul>
                            <br>
                            Other useful links:
                            <ul>
                              <li><a href="https://my.aegee.eu/pages/network-commission">NetCom</a> - contact your NetCommie with any question. They can forward you to the relevant people or pages.</li>
                              <li><a href="https://my.aegee.eu/bodies">Contact details of all European bodies and Locals.</a></li>
                              <li><a href="https://my.aegee.eu/pages/helpdesk">Helpdesk</a> - for support for technical issues, suggestions on future implementations and other assistance</li>
                              <li><a href="https://my.aegee.eu">MyAEGEE</a> - how to manage members and how to add membership fee payments made</li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0 56px 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #333;">
                            We hope you have found this email helpful! If you have any doubts, thoughts or need a clarification, please feel free to contact us at <a href="mailto:hrc@aegee.eu">hrc@aegee.eu</a>.
                            <br><br>
                            Congratulations again on your election!
                            <br><br>
                            Yours sincerely,<br>
                            Human Resources Committee
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: #F9FAFB;" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding: 28px 56px;" valign="top">
                          <div style="font-family: &quot;lato&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; line-height: 24px; color: #A7ADB5;">This email was autogenerated by MyAEGEE mailer.</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
