<h2>Events you can approve</h2>

<table class="table table-striped">
 <thead>
 	<tr>
 		<td>#</td>
 		<td>Name</td>
 		<td>Type</td>
 		<td></td>
 	</tr>
 </thead>
 <tbody>
 	<tr ng-repeat="event in events">
 		<td>{{ $index+1 }}</td>
 		<td><a ui-sref="app.eventadmin.edit({ event.id })">{{ event.name }}</a></td>
 		<td>{{ event.type }}</td>
 		<td>
			<button class="btn btn-sm btn-success" ng-click="changeState(event, 'accepted')"><i class="fa fa-plus-circle"></i> Approve</button>
			<button class="btn btn-sm btn-danger" ng-click="changeState(event, 'draft')"><i class="fa fa-minus-circle"></i> Back to Draft</button>
 		</td>
 	</tr>

 	<tr ng-show="events.length == 0">
 		<td colspan="3">There are no requests for approval right now or you don't have the permission.</td>
 	</tr>
 </tbody>
</table>

