<h2>Board-view</h2>

<form>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="event in events">
				<td colspan="4"><a ui-sref="app.events.single({ id:event.id })">{{ event.name }}</a></td>
			</tr>
				<tr ng-repeat="pax in event.applications">
					<td></td>
					<td>{{ pax.first_name }}</td>
					<td>{{ pax.last_name }}</td>
					<td class="input-group">
						<input class="form-control" ng-model="pax.board_comment" ng-change="pax.clean=false" />
						<span class="input-group-btn">
							<button ng-show="!pax.clean" type="button" class="btn btn-primary" ng-click="submitComment(event, pax)"><i class="fa fa-floppy-o"></i> Save</button>
							<button ng-show="pax.clean" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i> Saved!</button>
						</span>
					</td>
				</tr>
			<tr ng-repeat-end></tr>
		</tbody>
	</table>
</form>