
<h2 class="page-header" ng-show="!newevent">Edit event</h2>
<h2 class="page-header" ng-show="newevent">New event 	
	<button 
		type="button" 
		class="btn btn-info btn-circle btn-sm" 
		ng-click="info_eventcreation = !info_eventcreation">
		<i class="fa fa-question"></i></button>
</h2>
<form id="edit_event" name="eventForm" class="form-horizontal" ng-submit="submitForm()">

	<p class="note note-info" ng-show="!permissions.edit_details">
	You can not edit event details any more, as the event has already been approved. If you still need to edit it, you can still un-approve it (which will close the application aswell). You will have to undergo the requesting process again afterwards.
	</p>

	<p class="note note-info" ng-show="info_eventcreation">
	Every user can create events. Pay attention to the type of event you select, as it will greatly influence the lifecycle the event will undergo. Most likely, you will just want to create a local event, which will be only visible to members of your local but also just requires board approval. <br>
	If you want to create a non-statutory, statutory event or a summer university, the according committees (SUCT, EQAC, CD, etc) will have to approve your event, which will be more difficult and take more time.
	</p>

	<div class="form-group">
		<label class="control-label col-sm-4" for="head_image"></label>

		<div class="input-group col-sm-6">
				<div class="row">
					<img class="img-rounded img-responsive" ng-show="event.head_image" ng-src="{{ event.head_image.url }}" />
				</div>
				<button 
					type="button" 
					class="form-control btn btn-primary" 
					onclick="$('#uploaderBtn').click()"
					ng-disabled="eventForm.$dirty">
					Change image
				</button>
				<input style="display:none" id="uploaderBtn" class="hiddenElement" type="file" accept="image/*" nv-file-select="" uploader="uploadFile">
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.name.$invalid && eventForm.name.$dirty) || eventForm.name.$error.message }">
		<label class="control-label col-sm-4" for="name">Name<span class="text-danger">*</span> </label>

		<div class="input-group col-sm-6">
				<input 
					type="text" 
					class="form-control width-full" 
					name="name" 
					ng-model="event.name"
					required
					ng-disabled="!permissions.edit_details"
					 />
					

				<p ng-show="eventForm.name.$error.message">{{ eventForm.name.$error.message }}</p>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.starts.$invalid && eventForm.starts.$dirty) || eventForm.starts.$error.message }">
		<label class="control-label col-sm-4" for="starts">Starts<span class="text-danger">*</span> </label>
		<div class="input-group col-sm-6">
			<input 
				type="text" 
				class="form-control" 
				style="background-color: #fff; opacity: 1;" 
				value="{{ event.starts|date:'MMM d, yyyy hh:mm' }}" 
				readonly />
			<a href="#" class="input-group-addon" ng-click="showStartsSelector = !showStartsSelector"><i class="fa fa-calendar"></i></a>			
			
		</div>
			<p class="col-sm-offset-4" ng-show="eventForm.starts.$error.message">{{ eventForm.starts.$error.message }}</p>

		<datetimepicker 
				class="col-sm-offset-4"
				datetimepicker-config="{ minuteStep: 10 }"
				ng-model="event.starts" 
				required 
				ng-show="permissions.edit_details && showStartsSelector"></datetimepicker>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.ends.$invalid && eventForm.ends.$dirty) || eventForm.ends.$error.message }">
		<label class="control-label col-sm-4" for="ends">Ends<span class="text-danger">*</span> </label>
		<div class="input-group col-sm-6">
			<input 
				type="text" 
				class="form-control" 
				style="background-color: #fff; opacity: 1;" 
				value="{{ event.ends|date:'MMM d, yyyy hh:mm' }}" 
				readonly />
			<a class="input-group-addon" href="#" ng-click="showEndsSelector = !showEndsSelector"><i class="fa fa-calendar"></i></a>		
			
			
		</div>
		<p class="col-sm-offset-4" ng-show="eventForm.ends.$error.message">{{ eventForm.ends.$error.message }}</p>
		<datetimepicker 
				class="col-sm-offset-4"
				datetimepicker-config="{ minuteStep: 10 }"
				ng-model="event.ends" 
				required 
				ng-show="permissions.edit_details && showEndsSelector"></datetimepicker>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.description.$invalid && eventForm.description.$dirty) || eventForm.description.$error.message }">
		<label class="control-label col-sm-4" for="description">Description<span class="text-danger">*</span> </label>
		<div class="input-group col-sm-6">
			<textarea 
				class="form-control" 
				rows="4"
				name="description" 
				ng-model="event.description"
				required
				ng-disabled="!permissions.edit_details"></textarea>

			<p ng-show="eventForm.description.$error.message">{{ eventForm.description.$error.message }}</p>	
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.fee.$invalid && eventForm.fee.$dirty) || eventForm.fee.$error.message }">
		<label class="control-label col-sm-4" for="fee">Fee</label>
		<div class="input-group col-sm-6">
			<input 
				type="number" 
				class="form-control" 
				name="fee"
				ng-model="event.fee"
				ng-disabled="!permissions.edit_details" />

			<span class="input-group-addon"><i class="fa fa-euro"></i></span>

			<p ng-show="eventForm.fee.$error.message">{{ eventForm.fee.$error.message }}</p>
		</div>
	</div>


	<div class="form-group" ng-class="{ 'has-error': (eventForm.type.$invalid && eventForm.type.$dirty) || eventForm.type.$error.message }">
		<label class="control-label col-sm-4" for="type">Type<span class="text-danger">*</span></label>
		<div class="input-group col-sm-6">
			<select class="form-control" 
					name="type"
					ng-model="event.type"
					required
					ng-disabled="!permissions.edit_details">
				<option value="non-statutory">Non-Statutory</option>
				<option value="statutory">Statutory</option>
				<option value="su">Summer University</option>
				<option value="local">Local</option>
			</select>

			<p ng-show="eventForm.type.$error.message">{{ eventForm.type.$error.message }}</p>
		</div>
	</div>

	<!-- Maybe change this to a button which is to click to request approval and only show it to admins via ng-if -->
	<div class="form-group" ng-class="{ 'has-error': (eventForm.status.$invalid && eventForm.status.$dirty) || eventForm.status.$error.message }" ng-show="!newevent">
		<label class="control-label col-sm-4" for="status">Status
			<button 
				type="button" 
				class="btn btn-info btn-circle btn-sm" 
				ng-click="info_status=!info_status">
				<i class="fa fa-question"></i>
			</button>
		</label>
		<div class="input-group col-sm-6">
			<select class="form-control" name="status" ng-model="event.status" disabled>
				<option value="draft">Draft</option>
				<option value="requesting">Requesting</option>
				<option value="approved">Approved</option>
			</select>

			<div class="input-group-btn" ng-switch="event.status">
				<button 
					type="button" 
					class="btn btn-primary" 
					ng-switch-when="draft"
					ng-disabled="eventForm.$dirty"
					ng-click="setApproval('requesting')">Request Approval</button>
				<button 
					type="button" 
					class="btn btn-primary btn-block" 
					ng-switch-when="requesting"
					ng-disabled="eventForm.$dirty"
					ng-click="setApproval('draft')">Pull back approval request</button>
				<button 
					type="button" 
					class="btn btn-primary btn-block" 
					ng-switch-when="approved"
					ng-show="permissions.approve"
					ng-disabled="eventForm.$dirty"
					ng-click="setApproval('draft')">Unapprove</button>
				<button 
					type="button" 
					class="btn btn-primary btn-block" 
					ng-switch-when="deleted"
					ng-disabled="eventForm.$dirty"
					ng-click="setApproval('draft')">Undelete</button>
			</div>
		</div>
		<div class="col-sm-offset-4">
			<p ng-show="eventForm.status.$error.message">{{ eventForm.status.$error.message }}</p>
		</div>

		<p class="note note-info" ng-show="info_status">
			The status of the event determines the visibility of the event. Only approved events will be listed in the main events listing, but you can only edit draft events. If you want to open the application, your event needs to be approved. WARNING: Only admins can undo a given approval, as soon as the event was approved you will only be able to edit the application status and deadline, so make sure you have no typos anywhere!
			<span ng-show="eventForm.$dirty"><br>
			Please save your edits before you request approval
			</span>
		</p>
	</div>



	<div class="form-group" ng-class="{ 'has-error': (eventForm.max_participants.$invalid && eventForm.max_participants.$dirty) || eventForm.max_participants.$error.message }">
		<label class="control-label col-sm-4" for="max_participants">Maximum Number of Participants</label>
		<div class="input-group col-sm-6">
			<input 
				type="number" 
				class="form-control" 
				name="max_participants"
				ng-model="event.max_participants"
				ng-disabled="!permissions.edit_details" />

			<p ng-show="eventForm.max_participants.$error.message">{{ eventForm.max_participants.$error.message }}</p>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.application_status.$invalid && eventForm.application_status.$dirty) || eventForm.application_status.$error.message }" ng-show="!newevent">
		<label class="control-label col-sm-4" for="application_status">Application Status 
			<button 
				type="button" 
				class="btn btn-info btn-circle btn-sm" 
				ng-click="info_application_status=!info_application_status"
				ng-show="!permissions.edit_application_status"><i class="fa fa-question"></i></button>
			<button 
				type="button" 
				class="btn btn-info btn-circle btn-sm" 
				ng-click="info_application=!info_application"
				ng-show="permissions.edit_application_status"><i class="fa fa-question"></i></button>
		</label>
		<div class="input-group col-sm-6">
				<select class="form-control"
						name="application_status" 
						ng-model="event.application_status"
						ng-disabled="!permissions.edit_application_status">
					<option value="open">Open</option>
					<option value="closed">Closed</option>
				</select>
				<p ng-show="eventForm.application_status.$error.message">{{ eventForm.application_status.$error.message }}</p>
		</div>

		<p class="note note-info" ng-show="info_application_status">
			You cannot open the application when the event is in draft or requesting status. Please wait for it to be approved by one of your board members or any other authorized instance.
		</p>

		<p class="note note-info" ng-show="info_application">
			When the application status is open, participants will be able to apply. However, you can not accept any participants before the end of the deadline, so choose that date wisely. After you have accepted participants, you will be able to reopen the application as often as you wish to do an open call. 
			<br> The application will be automatically closed upon the application deadline
		</p>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.application_deadline.$invalid && eventForm.application_deadline.$dirty) || eventForm.application_deadline.$error.message }">
		<label class="control-label col-sm-4" for="application_deadline">Application Deadline </label>
		<div class="input-group col-sm-6">
			<input 
				type="text" 
				class="form-control" 
				style="background-color: #fff; opacity: 1;" 
				value="{{ event.application_deadline|date:'MMM d, yyyy hh:mm' }}" 
				readonly />
			<a class="input-group-addon" href="#" ng-click="showDeadlineSelector = !showDeadlineSelector"><i class="fa fa-calendar"></i></a>			
		</div>
		<p class="col-sm-offset-4" ng-show="eventForm.application_deadline.$error.message">{{ eventForm.application_deadline.$error.message }}</p>
		<datetimepicker 
				class="col-sm-offset-4"
				datetimepicker-config="{ minuteStep: 10 }"
				ng-model="event.application_deadline" 
				required 
				ng-show="permissions.edit_details && showDeadlineSelector"></datetimepicker>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.application_fields.$invalid && eventForm.application_fields.$dirty) || eventForm.application_fields.$error.message }">
		<label class="control-label col-sm-4" for="application_fields">Application Fields</label>
		<div class="col-sm-6">
			<div class="form-group" ng-repeat="field in event.application_fields">
				<div class="input-group">
					<input 	
						type="text" 
						class="form-control" 
						ng-model="field.name" 
						placeholder="question"
						ng-disabled="!permissions.edit_details" />
					<span class="input-group-addon">
						<button type="button" class="btn btn-primary btn-xs" ng-click="removeApplicationField($index)" ng-disabled="!permissions.edit_details"><i class="fa fa-minus"></i></button>
					</span>
				</div>
				<div class="input-group col-sm-12">
					<input 
						type="text" 
						class="form-control" 
						ng-model="field.description" 
						placeholder="description"
						ng-disabled="!permissions.edit_details">
					
				</div>
			</div>

			<div class="input-group form-group" ng-show="permissions.edit_details">
				<input 
					type="text" 
					class="form-control" 
					placeholder="Enter a question" 
					ng-model="newfield">
				<span class="input-group-addon">
					<button type="button" class="btn btn-primary btn-xs" ng-click="addApplicationField();"><i class="fa fa-plus"></i></button>
				</span>
			</div>
			<p ng-show="eventForm.application_fields.$error.message">{{ eventForm.application_fields.$error.message }}</p>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': (eventForm.organizers.$invalid && eventForm.organizers.$dirty) || eventForm.organizers.$error.message }" ng-show="!newevent">
		<label class="control-label col-sm-4" for="organizers">Organizers</label>
		<div class="col-sm-6">
			<div class="form-group" ng-repeat="field in event.organizers">
				<div class="input-group">
					<input 	
						type="text" 
						class="form-control" 
						readonly
						style="background-color: #fff; opacity: 1;"  
						value="{{ field.name }}{{ field.first_name }} {{ field.last_name}}" />
					<span class="input-group-addon">
						<button type="button" class="btn btn-primary btn-xs" ng-click="removeOrganizer($index)" ng-disabled="!permissions.edit_organizers"><i class="fa fa-minus"></i></button>
					</span>
				</div>
				<div class="input-group col-sm-12">
					<input 
						type="text" 
						class="form-control" 
						ng-model="field.comment" 
						placeholder="comment"
						ng-disabled="!permissions.edit_organizers">
				</div>
			</div>

			<div class="input-group form-group" ng-show="permissions.edit_organizers">
				<input 
					class="form-control" 
					placeholder="Type a name" 
					ng-model="neworganizer.query"
					ng-change="fetchNames(neworganizer.query)"
					>
				<span class="input-group-addon">
					<i class="fa fa-plus"></i>
				</span>

			</div>
			<p ng-show="eventForm.organizers.$error.message">{{ eventForm.organizers.$error.message }}</p>

			<div class="dropdownAutocomplete" ng-show="neworganizer.query">
				<ul>
					<li ng-repeat="user in neworganizer.proposals" ng-click="addOrganizer(user)">
						<img class="comment-photo" src="/api/getUserAvatar/{{ user.id }}"> 
						<span class="comment-name">{{ user.name }}<br />
							<small>{{ user.antenna_name }}</small>
						</span>
					</li>
					<li ng-if="neworganizer.proposals.length == 0">
						No results found
					</li>
				</ul>
			</div>
		</div>
		
	</div>
		

	<div class="form-group" ng-show="!newevent && permissions.delete && !eventForm.$dirty">
		<label class="control-label col-sm-4">Interactions</label>

		<button 
			type="button"
			class="btn btn-danger col-sm-6" 
			mw-confirm-click-message="Are you bloody damn sure to delete this event?" 
			mw-confirm-click="deleteEvent()"
			ng-disabled="!permissions.edit_details">
			Delete event</button>
	</div>

	<div class="form-group">
		<span class="col-sm-4"></span>
		<button type="submit" class="btn btn-success col-sm-6" ng-disabled="!permissions.edit">Submit!</button>
	</div>

</form>
