<h2 class="page-header">Organizers</h2>

<div id="options" class="m-b-10">
	<span class="gallery-option-set">
		<a 
			href="javascript:;" 
			ng-click="setSearch()" 
			class="btn btn-default btn-xs" 
			ng-class="{'active': search.antenna_id == ''}">Show all</a>
		<span ng-repeat="local in locals">
			<a 
				href="javascript:;" 
				ng-click="setSearch(local)"
				class="btn btn-default btn-xs"
				ng-class="{'active': search.antenna_id == local.foreign_id}">{{ local.name }}</a>
		</span>
	</span>
</div>

<div class="gallery isotope">
	<div ng-repeat="organizer in organizers | filter:search" class="image isotope-item">
		<div class="image-inner"><img src="/api/getUserAvatar/{{ organizer.foreign_id }}"></div>
		<div class="image-info">
			<h6 class="pull-right" ng-show="organizer.main_organizer">Main organizer</h6>
			<h5>{{ organizer.first_name }} {{ organizer.last_name }}</h5>
			<h6>{{ organizer.antenna_name }}</h6>
			<div class="desc">{{ organizer.comment }}</div>
		</div>
	</div>
</div>