<div class="row">
	<div class="col-lg-6">
		<h3>Service status</h3>
		
		<div class="row">
			<div class="col-sm-3">Uptime</div>
			<div class="col-sm-6">{{ status.uptime }}</div>
		</div>

		<div class="row">
			<div class="col-sm-3">Request count</div>
			<div class="col-sm-6">{{ status.requests }}</div>
		</div>

		<div class="row">
			<div class="col-sm-3">Deadline crons</div>
			<div class="col-sm-6">{{ status.deadline_crons }}</div>
		</div>

		<div class="row">
			<div class="col-sm-3">Handshake token</div>
			<div class="col-sm-6">{{ status.handshake_token }}</div>
		</div>

		<div class="row">
			<div class="col-sm-3">Roundtrip</div>
			<div class="col-sm-6">{{ roundtrip2 }}ms</div>
		</div>
	</div>

	<div class="col-lg-6">
		<h3>User details</h3>

		<div class="row">
			<div class="col-sm-3">Name</div>
			<div class="col-sm-6">{{ user.details.fullname }}</div>
		</div>

		<div class="row">
			<div class="col-sm-3">Roundtrip</div>
			<div class="col-sm-6">{{ roundtrip1 }}ms</div>
		</div>
	</div>
</div>

<div class="row">
	<h3>Role Management</h3>
	<form>

	<div class="form-group">
		<label class="control-label col-sm-3">Summer University Admin</label>
		<div class="input-group col-sm-6">
			<select class="form-control" ng-model="su_admin" ng-options="role.name for role in roles">
				<option value="">-- choose role --</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-3">Statutory Admin</label>
		<div class="input-group col-sm-6">
			<select class="form-control" ng-model="statutory_admin" ng-options="role.name for role in roles">
				<option value="">-- choose role --</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-3">Non-Statutory Admin</label>
		<div class="input-group col-sm-6">
			<select class="form-control" ng-model="non_statutory_admin" ng-options="role.name for role in roles">
				<option value="">-- choose role --</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-3">Super Admin</label>
		<div class="input-group col-sm-6">
			<select class="form-control" ng-model="super_admin" ng-options="role.name for role in roles">
				<option value="">-- choose role --</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<span class="col-sm-3"></span>
		<button type="button" class="btn btn-primary col-sm-6" ng-click="submitForm()">Submit</button>
	</div>

	</form>

</div>