version: "3.4"

services:
    postgres-oms-core-js:
        restart: always
        image: postgres:10
        volumes:
            - postgres-oms-core-js:/var/lib/postgresql/data
        expose:
            - "5432"
        environment:
            POSTGRES_USER: "postgres"
            POSTGRES_PASSWORD: "${PW_POSTGRES}"

    oms-core-js:
        restart: always
        image: aegee/oms-core-js:latest
        volumes:
            - oms-core-js-media:/usr/app/media
            - shared:/usr/app/shared:ro
            - oms-core-js-state:/usr/app/src/state:rw
        depends_on:
            - postgres-oms-core-js
        expose:
            - "8084"
        environment:
            BUGSNAG_KEY: "${BUGSNAG_KEY_CORE_JS}"
            PG_PASSWORD: "${PW_POSTGRES}"
            NODE_ENV: "${MYAEGEE_ENV}"
            HOST: "${SUBDOMAIN_FRONTEND}${BASE_URL}"
            CORE_LOGIN: "${CORE_LOGIN}"
            CORE_PASSWORD: "${CORE_PASSWORD}"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8084/healthcheck"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
        labels:
            - "traefik.backend=oms-core-js"
            - "traefik.port=8084"
            - "traefik.frontend.rule=PathPrefixStripRegex:/services/oms-core-elixir/api;"
            - "traefik.frontend.priority=200"
            - "traefik.enable=true"

volumes:
    postgres-oms-core-js:
        driver: local
    oms-core-js-media:
        driver: local
    shared:
        driver: local
    oms-core-js-state:
        driver: local

networks:
    default:
        external:
            name: OMS
