<ul class="timeline">
	<!-- show filter/current time -->
	<li>
		<div class="timeline-time">
			<span class="date">{{ currentTime | date:'yyyy' }}</span>
			<span class="time">{{ currentTime | date:'MMM d' }}</span>
		</div>

		<div class="timeline-icon">
			<a href="#"><i class="fa fa-search"></i></a>
		</div>

		<div class="timeline-body">
			<div class="timeline-header">
				<span class="username">
					Upcoming events
				</span>
			</div>

			<form>
				<div class="timeline-content">
					
					<div class="col-sm-12">
						<input class="form-control" placeholder="Search" ng-model="query">
					</div>

					<div class="col-sm-12">
						<label class="checkbox-inline"><input type="checkbox" ng-model="typequery.statutory">
							Statutory
						</label>

						<label class="checkbox-inline"><input type="checkbox" ng-model="typequery.non_statutory">
							Non-Statutory
						</label>

						<label class="checkbox-inline"><input type="checkbox" ng-model="typequery.su">
							SU
						</label>
					</div>
						
				</div>
			</form>
		</div>
	</li>

	<!-- show all events -->
	<li ng-repeat="event in events | filter: search | orderBy: 'starts'">
		<div class="timeline-time">
			<span class="date">{{ event.starts | date:'yyyy' }}</span>
			<span class="time">{{ event.starts | date:'MMM d' }}</span>
		</div>

		<div class="timeline-icon" ng-switch on="event.type">
			<a ui-sref="app.events.single({id: event.id})">
				<i class="fa fa-paper-plane" ng-switch-when="su"></i>
				<i class="fa fa-institution" ng-switch-when="statutory"></i>
				<i class="fa fa-space-shuttle" ng-switch-default></i>
			</a>
		</div>

		<div class="timeline-body">
			<div class="timeline-header">
				<span class="username">
					<a ui-sref="app.events.single({id: event.id})">{{ event.name }}</a>
				</span>
			</div>

			<div class="timeline-content">
				<p>{{ event.description | limitTo: 140 }}<span ng-show="event.description.length > 140">...</span>
				<a ui-sref="app.events.single({id: event.id})" ng-show="event.description.length > 140">Read more</a></p>
			</div>

			<div class="timeline-footer" ng-show="event.application_status == 'open'">
				<a ui-sref="app.events.apply({id: event.id})">Apply</a>
			</div>
		</div>
	</li>
</ul>
