<style>
.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
</style>


<ul class="timeline">
	<!-- show filter/current time -->
	<li>
		<div class="timeline-time">
			<span class="date">{{ currentTime | date:'yyyy' }}</span>
			<span class="time">{{ currentTime | date:'MMM d' }}</span>
		</div>

		<div class="timeline-icon">
			<a href="#"><i class="fa fa-search"></i></a>
		</div>

		<div class="timeline-body">
			<div class="timeline-header">
				<span class="pull-right">
					<a ui-sref="app.eventadmin.new" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Create one</a>
				</span>
				<span class="username dropdown">
					<a href="javascript:;", data-toggle="dropdown">
						<span ng-if="!mine">Upcoming events</span>
						<span ng-if="mine">My events</span>
					<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="app.events">Upcoming events</a></li>
						<li><a ui-sref="app.events.mine">My events</a></li>
					</ul>
				</span>
			</div>

			<form>
				<div class="timeline-content">
					
					<div class="col-sm-12">
						<input class="form-control" placeholder="Search" ng-model="query">
					</div>

					<div class="col-sm-12">
						<label class="checkbox-inline"><input type="checkbox" ng-model="typequery.statutory">
							Statutory
						</label>

						<label class="checkbox-inline"><input type="checkbox" ng-model="typequery.non_statutory">
							Non-Statutory
						</label>

						<label class="checkbox-inline"><input type="checkbox" ng-model="typequery.su">
							SU
						</label>

						<label class="checkbox-inline"><input type="checkbox" ng-model="typequery.local">
							Local
						</label>
					</div>

					<!--<div class="col-sm-12" ng-if="!mine">
						<a ui-sref="app.events.mine">My events</a>
					</div>
					<div class="col-sm-12" ng-if="mine">
						<a ui-sref="app.events">All events</a>
					</div>-->
				</div>
			</form>
		</div>
	</li>

	<!-- show all events -->
	<li ng-repeat="event in events | filter: search | orderBy: 'starts'">
		<div class="timeline-time">
			<span class="date">{{ event.starts | date:'yyyy' }}</span>
			<span class="time">{{ event.starts | date:'MMM d' }}</span>
		</div>

		<div class="timeline-icon" ng-switch on="event.type">
			<a ui-sref="app.events.single({id: event.id})">
				<i class="fa fa-paper-plane" ng-switch-when="su"></i>
				<i class="fa fa-institution" ng-switch-when="statutory"></i>
				<i class="fa fa-home" ng-switch-when="local"></i>
				<i class="fa fa-coffee" ng-switch-default></i>
			</a>
		</div>

		<div class="timeline-body">
			<div class="timeline-header">
				<span class="pull-right">
					<span ng-repeat="local in event.organizing_locals">
						<span ng-show="!$last">, </span>
						{{ local.name }}
					</span>
				</span>
				<span class="username">
					<a ui-sref="app.events.single({id: event.id})">{{ event.name }}</a>
				</span>
				
			</div>

			<div class="timeline-content">
				<p>{{ event.description | limitTo: 140 }}<span ng-show="event.description.length > 140">...</span>
				<a ui-sref="app.events.single({id: event.id})" ng-show="event.description.length > 140">Read more</a></p>
			</div>

			<div class="timeline-footer" ng-show="event.application_status == 'open'">
				<a ui-sref="app.events.apply({id: event.id})">Apply</a>
			</div>
		</div>
	</li>
</ul>
