<div class="profile-section">
	<div class="profile-left">
		<!-- insert as soon as image support in events backend -->
		<div class="profile-image">
			<img src="{{ baseUrl }}frontend/media/Dino.png" />
		</div>

		<div class="m-b-10" ng-show="event.application_status == 'open'">
			<a ui-sref="app.events.apply({ id: event.id })" class="btn btn-warning btn-block btn-sm">Apply</a>
		</div>

		<!-- TODO check if user is organizer, otherwise don't show -->
		<div class="profile-highlight">
			<h4>Admin Panel</h4>
			<div class="m-b-5">
				<a ui-sref="app.eventadmin.edit({ id: event.id })" >Edit event</a>
			</div>
			<div class="m-b-5">
				<a ui-sref="app.eventadmin.approve({ id: event.id })" >Approve participants</a>
			</div>
		</div>

	</div>

	<div class="profile-right">
		<div class="profile-info">
			<div class="table-responsive">
				<table class="table table-profile">
					<thead>
						<tr><th></th><th><h4>{{ event.name }}
							<small>
								<span ng-repeat="local in event.organizing_locals">{{ local.foreign_id }}</span><span ng-show="$last">, </span>
							</small>
						</h4></th></tr>
					</thead>
					<tbody>

						<tr>
							<td class="field">Starts</td>
							<td>{{ event.starts|date:'mediumDate' }}, {{ event.starts|date:'HH:mm' }}</td>
						</tr>
						<tr>
							<td class="field">Ends</td>
							<td>{{ event.ends|date:'mediumDate' }}, {{ event.ends|date:'HH:mm' }}</td>
						</tr>

						<tr class="divider"><td colspan="2"></td></tr>
						<tr>
							<td class="field">Description</td>
							<td><p ng-bind="event.description"></p></td>
						</tr>

						<tr class="divider"><td colspan="2"></td></tr>

						<tr>
							<td class="field">Type</td>
							<td>{{ event.type }}</td>
						</tr>
						<tr>
							<td class="field">Status</td>
							<td>{{ event.status }}</td>
						</tr>

						<!--<tr class="divider"><td colspan="2"></td></tr>-->

						<tr>
							<td class="field">Participants</td>
							<td>{{ event.max_participants }}</td>
						</tr>
						<tr>
							<td class="field">Application Deadline</td>
							<td>{{ event.application_deadline | date:'mediumDate' }}, {{ event.application_deadline | date:'HH:mm' }}</td>
						</tr>
						<tr>
							<td class="field">Application status</td>
							<td>{{ event.application_status }}</td>
						</tr>
						<tr ng-show="event.application_status == 'open'">
							<td class="field"></td>
							<td><a ui-sref="app.events.apply({ id: event.id })" class="btn btn-warning">Apply until {{ event.application_deadline | date:'MMM d' }}</a></td>
						</tr>


					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

<!-- old version
<br /><br /><br />
<a href="/#/">Back to listing</a>

<ul>
	<li>Title: <a href="{{ hashify(event.url) }}">{{ event.name }}</a></li>
	<li>Description: {{ event.description }}</li>
	<li>Starts: {{ event.starts }}</li>
	<li>Ends: {{ event.ends }}</li>
	<li>Organizing locals: 
		<ul>
			<li ng-repeat="local in event.organizing_locals">{{ local.foreign_id }}</li>
		</ul>
	</li>
	<li>Type: {{ event.type }}</li>
	<li>Status: {{ event.status }}</li>
	<li>Maximum # Partícipants: {{ event.max_participants }}</li>
	<li>Type: {{ event.type }}</li>
	<li>Application Deadline: {{ event.application_deadline }}</li>
	<li>Application Status: {{ event.application_status }}</li>
	<li>Application Fields:
		<ul>
			<li ng-repeat="app_field in event.application_fields">{{ app_field.name }}</li>
		</ul>
	</li>
	<li>Organizers:
		<ul>
			<li ng-repeat="organizer in event.organizers">{{ organizer.foreign_id }} - {{ organizer.role }}</li>
		</ul>
	</li>
	<li>Applications:
		<ul>
			<li ng-repeat="applicant in event.applications">{{ applicant.foreign_id }} ({{ applicant.application_status }})
		</ul>
	</li>
	<li><a href="{{ hashify('/edit/' + event._id) }}">edit</a></li>
</ul>

-->