---
swagger: "2.0"
info:
  description: "This is a server to generate Gsuite accounts."
  version: "0.7.0"
  title: "Account Manager"
  termsOfService: "https://my.aegee.eu/legal/simple"
  contact:
    email: "myaegee@aegee.eu"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "my.aegee.eu"
basePath: "/"
tags:
- name: "Account"
  description: "Accounts operations: add/remove user; modify user details; add/remove aliases for user email"
  externalDocs:
    description: "The user will have to accept Gsuite terms"
    url: "https://my.aegee.eu"
- name: "Groups"
  description: "Groups operations: add/remove a google group; add/remove a user membership to a group"
  externalDocs:
    description: "The user will be subscribed and unsubscribed automatically most of the times"
    url: "http://groups.aegee.eu"
- name: "Calendar"
  description: "Calendar operations: add an event to the Gsuite calendar of events"
  externalDocs:
    description: "The user will be subscribed and unsubscribed automatically most of the times"
    url: "http://calendar.aegee.eu"
schemes:
- "https"
paths:
  /group:
    post:
      tags:
      - "Groups"
      summary: "Create Gsuite group"
      description: "This endpoint is to create a Gsuite group"
      operationId: "createGroup"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "This ain't shown anywhere"
        required: true
        schema:
          $ref: '#/definitions/Group'
      responses:
        201:
          description: "Successful operation"
        400:
          description: "Invalid input"
        409:
          description: "Duplicate entity"
  /group/{bodyPK}:
    delete:
      tags:
      - "Groups"
      summary: "Delete Gsuite group"
      description: "This endpoint is to delete the Gsuite group. 'bodyPK' refers to the primary key of the body/circle in the system." 
      operationId: "deleteGroup"
      produces:
      - "application/json"
      parameters:
      - name: "bodyPK"
        in: "path"
        description: "The MyAEGEE key of the group that needs to be deleted"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
        404:
          description: "Group not found"
  /account:
    post:
      tags:
      - "Account"
      summary: "Create user account"
      description: "This endpoint is to create a Gsuite account"
      operationId: "createAccount"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User account object"
        required: true
        schema:
          $ref: "#/definitions/Account"
      responses:
        201:
          description: "Successful operation"
        400:
          description: "Invalid input"
        409:
          description: "Duplicate entity"
  /account/{userPK}/alias:
    put:
      tags:
      - "Account"
      summary: "Gives/remove alias to the user"
      description: "Gives/remove alias to the user. For remotion, one has \
                      to be precise on which user alias wants to delete, in case \
                      of multiple aliases"
      operationId: "updateAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "userPK"
        in: "path"
        description: "User whose alias needs to be updated (PK of MyAEGEE)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Operation to perform, and what the fuck this is not shown"
        required: true
        schema:
          $ref: "#/definitions/aliasOperation"
      responses:
        200:
          description: "Removal: Successful operation"
        201:
          description: "Creation: Successful operation"
        400:
          description: "Invalid payload"
        404:
          description: "Alias not found"
        409:
          description: "Alias already existing"
  /account/{userPK}/group:
    put:
      tags:
      - "Groups"
      summary: "Add/remove account membership to group"
      description: "This endpoint is used to modify an account's membership to a group, \
                    NOT a group"
      operationId: "editMembershipToGroup"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "userPK"
        in: "path"
        description: "User that needs to be inserted/removed"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Operation & group info"
        required: true
        schema:
          $ref: "#/definitions/Membership"
      responses:
        200:
          description: "Removal: Successful operation"
        201:
          description: "Creation: Successful operation"
        400:
          description: "Invalid input"
        404:
          description: "Member not found"
        409:
          description: "Member duplicate"
  /calendar:
    post:
      tags:
      - "Calendar"
      summary: "Create Gsuite event on Calendar of Event"
      description: "This endpoint is to create an event on \
                    the Gsuite calendar of events, an organisation-wide \
                    shared calendar."
      operationId: "createCalEvent"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created event object"
        required: true
        schema:
          $ref: '#/definitions/Event'
      responses:
        201:
          description: "Successful operation"
        400:
          description: "Invalid input"
        409:
          description: "Duplicate event"
definitions:
  Group:
    type: "object"
    properties:
      primaryEmail:
        type: "string"
        description: "The google ID (xxx@aegee.eu) of the group that is added"
        format: "email"
      groupName:
        type: "string"
        description: "The name of the Google group"
        format: "string"
      bodyPK:
        type: "string"
        description: "The primary key that identifies the body/circle in MyAEGEE"
        format: "string"
    required:
      - groupName
      - primaryEmail
      - bodyPK
    example:
      groupName: "The Straight Banana Committee"
      primaryEmail: "sbc@aegee.eu"
      bodyPK: "(idk how it's represented)"
  Account:
    type: "object"
    properties:
      primaryEmail:
        type: "string"
        description: "The username @aegee.eu for the account"
        format: "string"
      name:
        $ref: "#/definitions/Account_name"
      secondaryEmail:
        type: "string"
        description: "The email of the user. For password reset and first-time sign up"
        format: "email"
      password:
        type: "string"
        description: "MUST be a SHA-1 password"
        format: "password"
      antenna:
        type: "string"
        description: "The (primary) antenna the user belongs to"
        format: "string"
      userPK:
        type: "string"
        description: "The primary key of the user in MyAEGEE"
    required:
     - primaryEmail
     - name
     - secondaryEmail
     - password
     - antenna
     - userPK
    example:
      primaryEmail: "cave.johnson@aegee.eu"
      name:
        givenName: "Cave"
        familyName: "Johnson"
      secondaryEmail: "cave.aegee@example.com"
      password: "[SOME-SHA1-HASH]"
      antenna: "AEGEE-Tallahassee"
      userPK: "(idk how it's represented)"
  Account_name:
    properties:
      givenName:
        type: "string"
      familyName:
        type: "string"
    required: 
     - givenName
     - familyName
    example:
      givenName: "Cave"
      familyName: "Johnson"
  Membership:
    type: "object"
    properties:
      groupPK:
        type: "string"
        description: "(required) The group in which the user \
                      is added. MyAEGEE's PK of the body/circle"
      operation:
        type: "string"
        description: "(required) 'add'/'remove' member"
    required:
     - groupPK
     - operation
    example:
      groupPK: "(idk how it's represented)"
      operation: "add"
  aliasOperation:
    type: "object"
    properties:
      aliasName:
        type: "string"
        description: "The alias that is added"
      operation:
        type: "string"
        description: "'add'/'remove' alias"
    required:
     - aliasName
     - operation
    example:
      aliasName: "example@aegee.eu"
      operation: "add"
  Event:
    properties:
      name:
        type: "string"
        description: "The name of the event"
      startDate:
        type: "string"
        description: "Format MUST be YYYY-MM-DD"
      endDate:
        type: "string"
        description: "Format MUST be YYYY-MM-DD"
      description:
        type: "string"
        description: "The description of the event"
      location:
        type: "string"
        description: "The city where the event is happening. Can be any string"
      eventID:
        type: "string"
        description: "Format MUST be a-v 0-9"
    description: "(required)"
    required:
     - name
     - startDate
     - endDate
     - description
     - location
     - eventID
    example:
      name: "RTC Tallahassee"
      startDate: "2019-04-25"
      endDate: "2019-04-25"
      description: "An RTC in a far away place"
      location: "Tallahassee, Florida"
      eventID: "rtctallahassee19"
externalDocs:
  description: "Find out more about MyAEGEE"
  url: "https://oms-project.atlassian.net/wiki/spaces/GENERAL/overview"

